.vscode/*
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__/*
case3.png
case.txt
case1.png
case1.tex
case1B.png
case1B.tex
case1B.txt
case2.png
case2.tex
case2.txt
case3.tex
case3.txt
main.tex
case1c.png
case1.txt
case2b.png
case2c.png
case3b.png
case3c.png
case4.png
case4.txt
stiffness.png
case1_stiffness.png
case2_stiffness.png
case3_stiffness.png
case4b.png
case4c.png
